<app-card titulo="Primeiro Component" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando os Conhecimentos em Templates" cor="#B2E7E8">
    <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipes" cor="#BFB9AA">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two-Way Data Binding" cor="#F2D096">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="Renderizando Listas" cor="#ED8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componentes Personalizados" cor="#FFE3DC">
    <app-componente-personalizado nome="Junior" sobrenome="Melo"></app-componente-personalizado>
    <app-componente-personalizado nome="Luana" sobrenome="Melo"></app-componente-personalizado>
</app-card>

<app-card titulo="Interação entre Componentes" cor="#A2AD91">
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="Serviços" cor="#3A2D32">
    <app-exemplo-servico1></app-exemplo-servico1>
    <app-exemplo-servico2></app-exemplo-servico2>
</app-card>

<app-card titulo="Ciclo de Vida">
    <app-ciclo-vida-pai></app-ciclo-vida-pai>
</app-card>
